.collapsebody{
    max-height: 740px;
    overflow: auto;
}
.eduStyle{
    font-size: 20px;
    font-weight: 500;
}

.chipstyle{
    background-color: #337ab7;
    color: white;
}

.panel-default{
    border: solid !important;
    border-width: 1px !important;
    border-color:#337ab7 !important;
}