.bgimg {
    background-image: url("../../../assets/Img404.jpg");
    /* Full height */
    height: 980px;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }