<div class="container-fluid">
    <div class="row content" style="max-height: 970px">
        <div class="col-sm-2 sidenav ">
            <!-- <button class="btn"><a [routerLink]="['/']" class="fa fa-home"></a></button> -->
            <div class="text-center" style="color: white;">
                <br>
                <img src="assets/MyImg.JPG" class="img-responsive img-circle margin" style="display:inline"
                    alt="RohanKedari" width="120" height="120">
                <br>
                <br>
                <div class="intordash">
                    <a [routerLink]="['/']" style="color: blue;">
                        <mat-label style="font-size: 22px;"> {{dataService.userInfo.name}}</mat-label>
                    </a>
                    <br>
                    <br>
                    <mat-label style="font-size: 14px;font-weight: 500;">{{dataService.userInfo.userProfLine}}
                    </mat-label>
                </div>
                <br>
            </div>
            <div>
                <!-- <ul class="nav nav-pills nav-stacked"> -->
                <ul>
                    <li><a [routerLink]="['personalinfo']" [class.active]="isActive('personal')"
                            (click)="setActive('personal')">Personal Info.</a></li>
                    <li><a [routerLink]="['professionalinfo']" [class.active]="isActive('professional')"
                            (click)="setActive('professional')">Professional Info.</a></li>
                    <li><a [routerLink]="['resume']" [class.active]="isActive('resume')"
                            (click)="setActive('resume')">My
                            Resume</a></li>
                    <li><a [routerLink]="['contactInfo']" [class.active]="isActive('contact')"
                            (click)="setActive('contact')">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-10" style="z-index: 1;">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>